body {
  background-color: #f9f7fe;
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 100px;

  font-style: normal;
  font-variation-settings: "width" 100;
}

.app-container {
  background: white;
  max-width: 600px;
  margin: 35px auto;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgb(65, 50, 100, 0.08);
  padding: 30px;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
a {
  color: #885df1;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-button {
  background: #885df1;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: white;
}
main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 30px;
  line-height: 48px;
}

.weather-app-details {
  color: rgba(39, 30, 69, 0.4);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.weather-app-details strong {
  color: #f65282;
}
.weather-app-temp-container {
  display: flex;
}
.weather-app-temp {
  font-size: 88px;

  line-height: 88px;
  font-weight: bold;
  margin-left: 8px;
}
.weather-app-icon {
  font-size: 88px;
  height: 88px;
}
.weather-app-unit {
  font-size: 28px;
  margin-top: 6px;
}
footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}
